
<div class="p-3">
    <hr class="bg-danger border-2 border-top border-dark"/>
    <span class="d-flex justify-content-end w-100 bg-opacity-10 mb-2 px-3"><i type="button" onclick="htmx.remove(this.closest('div'))" class="text-dark bi bi-dash-circle fs-4"></i></span >
    <div class=" input-group mb-3">
        <span class="input-group-text" id="">Exercise name</span>
        <input type="text" class="form-control" name="{{uid}}_name" aria-label="Exercise name"
            aria-describedby="exercise name">
    </div>
    <div class=" input-group mb-3">
        <span class="input-group-text" id="">Exercise Repetition</span>
        <input type="number" class="form-control" name="{{uid}}_repetition" aria-label="Exercise Repetition"
            aria-describedby="exercise Repetition">
</div>            
</div>
