<div class="card-body">
    <h3 class="card-title pb-3">Login</h3>
    <div>
        <form hx-post="/login" hx-on="htmx:afterOnLoad" class="pb-3">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <p>Don't have an account? <button hx-get="/singup" hx-target="#auth_card" hx-swap="innerHTML" class="text-primary">Singup</button></p>
  </div>